@media all and (min-width: 500px) {
    header{
        width: 11rem;
        margin-bottom: 2rem;
    }

    .bloc-note {
        background-image: url(../images/bg-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 2.5rem 4rem;
        gap: 0;
    }
    section{
        display: flex;
        text-align: start;
        gap: 3rem;
        .detail{
            max-width: 30rem;
            h1{
                font-size: 2rem;
            }
            p{
                font-family: sans-serif;
                line-height: 1.4rem;
                font-weight: 100;
            }
        }
    }
    footer{
        justify-content: end;
    }
}