$color-violet: hsl(257, 40%, 49%);
$color-softmagenta: hsl(300, 69%, 71%);
$color-white: #FFF;
$color-shadow: #333;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $color-violet;
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    text-align: center;
    color: $color-white;

    @media all and (min-width: 375px)
    {
        background-image: url(images/bg-desktop.svg);
        background-size: 100%;
        max-width: 1440px;
    }
    // media
    & img {
        width: 100%;
    }
}

.bloc-note {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
     @media all and (min-width: 800px)
     {
         padding: 3rem 5rem;
     }

    & header{
        width: 130px;
    }
    // logo
    & section{
        @media all and (min-width: 800px)
        {
            display: flex;
            gap: 3rem;
            &>* {
                flex: 1;
            }
            & .detail {
                text-align: start;
            }
        }
        // media
        & .detail {
            margin-top: 3rem;
            & h1 {
                font-family: 'Poppins', sans-serif;
                font-size: 1.5em;
                margin-bottom: 1rem;
            }
            & p{
                font-family: 'Open Sans', sans-serif;
                margin-bottom: 2rem;
            }
            & button {
                cursor: pointer;
                border: none;
                padding: .8rem 4rem;
                color: $color-violet;
                background-color: $color-white;
                border-radius: 4rem;
                box-shadow: 0 0 10px $color-shadow;
                &:hover{
                    background-color: $color-softmagenta;
                    color: $color-white;
                }
            }
        } // detail
    } // section

    & footer {
        display: flex;
        justify-content: center;
        gap: .7rem;

        @media all and (min-width: 800px)
        {
            justify-content: end;
        }

        & i{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color-white;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            &:hover{
                cursor: pointer;
                border: 1px solid $color-softmagenta;
                color: $color-softmagenta;
            }
        }
    }
}