@import "_variables.scss";

*,
::before,
::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: $color-violet;
    min-height: 100vh;
}
img {
    max-width: 100%;
}

.bloc-note {
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    font-family: 'Open Sans';
    text-align: center;
    color: $color-white;
    padding: 2rem;
    display: grid;
    gap: 3rem;
}
    
header{
    width: 8rem;
} // logo

section{
    .detail {
        margin-top: 3rem;
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            margin-bottom: 1rem;
        }
        p{
            font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
    }
    .button {
        cursor: pointer;
        border: none;
        text-decoration: none;
        font-size: .8rem;
        padding: .8rem 4rem;
        color: $color-violet;
        background-color: $color-white;
        border-radius: 100vmax;
        box-shadow: 0 0 10px $color-shadow;
        &:hover{
            background-color: $color-softmagenta;
            color: $color-white;
        }
    }
} // detail
} // section

footer {
    display: flex;
    justify-content: center;
    gap: .7rem;
    
    // @media all and (min-width: 800px)
    // {
        //     justify-content: end;
        // }
        
        a{
            display: grid;
            place-items: center;
            text-decoration: none;
            color: $color-white;
            border: 1px solid $color-white;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            &:hover{
                cursor: pointer;
                border: 1px solid $color-softmagenta;
                color: $color-softmagenta;
            }
        }
    }
    
    @import "_media.scss";